[Unit]
Description=Power Profiles Daemon to APSTATE EPP
Requires=power-profiles-daemon.service
After=power-profiles-daemon.service

[Service]
Type=simple
Restart=on-failure
User=root
ExecStart=python3 /usr/local/bin/pp-to-epp

[Install]
WantedBy=multi-user.target
